<!DOCTYPE html>
<html>
<head>
    <title>Erfolgreich übermittelt</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #333;
            font-size: 28px;
        }

        h3 {
            color: #666;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Erfolgreich übermittelt</h1>
    <h3>Vielen Dank für die Übermittlung des Formulars. Ihre Anfrage wurde als PDF erfolgreich heruntergeladen und wird Ihnen in Kürze per E-Mail zugesandt.</h3>
</body>
</html>
