.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




/* -----------------------          my style            -------------------------- */


html {
  height: 100%;
  /* Enable scrolling on the whole page */
}

body {
  color: #E75012 !important;
  /* Dark gray */
  font-family: Arial, sans-serif !important;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 100px;
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
  /* Enable scrolling on the whole page */

  background-image: url("N:\Selim\Github\catering-new\menu\static\menu\cateringNEW.jpg");
  /*  TODO: copy final path */
  background-color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(8px);
  background-color: transparent;
  /* Set the background color to transparent */
}

.container-xl {


  border-radius: 50px;
  background: linear-gradient(145deg, #f3f3f3, #cccccc, 0.4);
  box-shadow: 27px 27px 54px #c1c1c1,
    -27px -27px 54px #ffffff;
}

/*test*/

h3 {
  color: #000000;
  text-shadow: 2px 2px 4px rgba(255, 228, 196, 0.5);
}




form {
  display: flex;
  flex-direction: row;
  height: 100%;

}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  /* color: rgb(10, 42, 132); */
}

input[type="text"],
select {
  padding: 5px;
  border: 1px solid #ff7f50;
  /* Orange */
  border-radius: 3px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #ff7f50;
  /* Orange */
  color: #fff;
  /* White */
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

}

.submit-btn {
  background-color: #ff7f50;
  /* Orange */
  color: #fff;
  /* White */
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: #e75e3e;
}

button[type="submit"]:hover {
  background-color: #e75e3e;
}



#cateringArt {
  margin-left: 6px;
}


.contact-form label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

.contact-form select,
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
/* .contact-form input[type="checkbox"] {
  display: inline-block;
  width: 250px;
} */

.card {
  background-color: #f3a476;

  border-radius: 0px !important;
  /* color: #FFF; */
  padding: 20px;
  margin-bottom: 20px;
  transition: 2s;
  border: none !important;
}

.card-title {
  color: #FFF;
}

.form-label {
  color: #F95A00;
}

.form-control {
  background-color: #FFF;
  color: #F95A00;
  border-color: #FFF;
}

.form-check-label {
  color: #000000;
}

.btn-primary {
  background-color: #F95A00;
  border-color: #F95A00;
}

#contact {
  width: 90%;
}

.contact {
  display: flex;
  flex-direction: column;
}

/* NEW STYLE --- putting all html <style/> in this file */



.ui-timepicker-container {
  font-size: 25px;
  /* Adjust the font size as needed */
  width: 150px;
  /* Adjust the width as needed */
}

.ui-timepicker-list li {
  padding: 5px;
  font-size: 12px;
}

.timepicker-container {
  position: relative;
}

.timepicker-container input[type="text"] {
  padding-right: 30px;
  /* Adjust the padding as needed */
}

.timepicker-container .timepicker-icon {
  position: absolute;
  top: 60%;
  right: 10px;
  /* Adjust the position as needed */
  transform: translateY(-50%);
  pointer-events: none;
}

.timepicker-container .timepicker-icon::before {
  content: "\25BE";
  /* Unicode arrow-down symbol */
  font-size: 20px;
  /* Adjust the font size as needed */
}

.hidden-input {
  display: none;
}



/* Button styles */
#book-now {
  background-color: #a05941;
  /* Green background color */
  border: none;
  /* Remove border */
  color: white;
  /* Text color */
  padding: 10px 20px;
  /* Add some padding */
  text-align: center;
  /* Center the text */
  text-decoration: none;
  /* Remove underline */
  display: inline-block;
  /* Display as inline-block */
  font-size: 16px;
  /* Set the font size */
  border-radius: 4px;
  /* Add some border radius */
  cursor: pointer;
  /* Add cursor on hover */
  transition: background-color 0.3s ease;
  /* Add smooth transition */
}

/* Button hover effect */
#book-now:hover {
  background-color: #853328;
  /* Darker green color on hover */
}

/* CSS for the spinner */
.spinner {
  width: 40px;
  height: 40px;
  margin: 10px auto;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.infoSubContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.infoContainer {
  display: flex;

}

.menu-container {
  border-radius: 5px;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
  /* padding: 10px; */
  margin-top: 10px;
  width: 100%;
  height: 100%;

}

.menu-container .row {
  height: 100%;
}

.menuContainer {
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #353535,
    -20px -20px 60px #000000;
  height: 100%;
  width: 1980px;
  padding: 20px;


}

.menu-selection-container {
  display: flex;
  height: 800px;
  margin-top: 30px;
}


.my-col-2 {
  padding: 12px;
}

#root {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
}

.sub-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 67px;

}


.info-card {
  width: 350px;
  margin-right: 10px;

}

.date-and-time {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #403735;
  padding-bottom: 40px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 0px;
  border-left: 1px solid #403735;
  width: 100%;
  transition: height 0.3s ease-in;
}

.card {
  overflow: auto;

}

.shadowy {
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}

.nav-pills {
  --bs-nav-pills-border-radius: 0px !important;
  --bs-nav-pills-link-active-color: #fff !important;
  /* --bs-nav-pills-link-active-bg: #00000000 !important; */
  --bs-nav-link-color: #fff !important;
  --bs-nav-link-hover-color: #fff !important;


}

.nav-pills .nav-link {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.nav-item {
  transition: all 0.1s ease-in-out;
  flex: 1;
}

.nav-link {
  text-shadow: 0px 0px 10px #000000;
}

#nav-item-glas {
  background-image: url("https://img.freepik.com/free-photo/penne-pasta-tomato-sauce-with-chicken-tomatoes-wooden-table_2829-19744.jpg?t=st=1693481873~exp=1693482473~hmac=5751f5583253f3c6766ff9782c555e09482ef6e341dfd94887d2184586a0a119");
  background-size: cover;
}

#nav-item-bread {
  background-image: url("https://img.freepik.com/free-photo/homemade-meat-snack-chicken-liver-pate-with-savory-olives_2829-11219.jpg?t=st=1693486101~exp=1693486701~hmac=056d9720f1522f8237eb5c11acbd156c78168a2c3d07335f2bcf1260f4ce9551");
  background-size: cover;
}

#nav-item-starters {
  background-image: url("https://img.freepik.com/free-photo/penne-pasta-tomato-sauce-with-chicken-tomatoes-wooden-table_2829-19744.jpg?t=st=1693481873~exp=1693482473~hmac=5751f5583253f3c6766ff9782c555e09482ef6e341dfd94887d2184586a0a119");
  background-size: cover;
}

#nav-item-main {
  background-image: url("https://img.freepik.com/free-photo/juicy-steak-medium-rare-beef-with-spices-grilled-vegetables_2829-18672.jpg?t=st=1693481873~exp=1693482473~hmac=32ba1310e9786a06ded1564fae7aa15ec18ac8618baa177e3ea643153705e82b");
  background-size: cover;
}

#nav-item-salad {
  background-image: url("https://img.freepik.com/free-photo/salad-from-tomatoes-cucumber-red-onions-lettuce-leaves-healthy-summer-vitamin-menu-vegan-vegetable-food-vegetarian-dinner-table-top-view-flat-lay_2829-6482.jpg?t=st=1693481873~exp=1693482473~hmac=268ccd81e1f20a440b9c0cc6ff2ae183ff4c2a2e17a3f8f6ff125a88be99a29e");
  background-size: cover;
}

#nav-item-dessert {
  background-image: url("https://img.freepik.com/free-photo/tart-with-strawberries-whipped-cream-decorated-with-mint-leaves-top-view_2829-19973.jpg?t=st=1693484032~exp=1693484632~hmac=a14c9d309f0a1465885949ccc0c8a94e4bd28c9af47b58b98c98b9264c13b1c0");
  background-size: cover;
}

#nav-item-drinks {
  background-image: url("https://img.freepik.com/free-photo/front-close-view-organic-fresh-juices-bottles-served-with-tubes-fruits-wooden-cutting-board-brown-table_140725-94487.jpg?t=st=1693481873~exp=1693482473~hmac=567254d1bbc9785ec77752789a8803e672e5a6edfaa28dd113ddbf8b0addb619");
  background-size: cover;
}

#nav-item-breakfast {
  background-image: url("https://img.freepik.com/free-photo/english-breakfast-toast-egg-bacon-vegetables-rustic-style-wooden-table_2829-19790.jpg?t=st=1694085464~exp=1694086064~hmac=b5e18d73ac2acc62bec33ec3bd67a699833378b45202d403c005dd90dc8b6a87");
  background-size: cover;
}

.my-col {
  background-color: #4e3022;
  border-right: 1px solid #403735;
  padding: 0px !important;
}

.nav-item a {
  height: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #00000094;
}

.nav-pills .nav-link:hover {
  background-color: #00000000 !important;
}

.nav-pills .nav-link.active {
  background-color: #00000000 !important;
}


.nav-item:hover {
  background-color: #e75012 !important;
}

.menu-card {
  margin-right: 10px;
  border: none !important;
  border-right: 1px solid #403735 !important;
  border-radius: 0px !important;
}


.my-button-active {
  background-color: #e75012 !important;
  color: #fff !important;
  border-radius: 0px !important;
  border-color: #E75012 !important;
}

.my-button-inactive {
  background-color: #fff !important;
  color: #e75012 !important;
  border-color: #E75012 !important;
  border-radius: 0px !important;
}

.my-button-inactive:hover {
  background-color: #e75012 !important;
  color: #fff !important;
}


.food-choice-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #403735;
}

.food-choice-cont label {
  width: 80%;
  padding-left: 5px;

}


.mealtime-select {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}


/* ------------------------ SCrollbar ------------------------ */

::-webkit-scrollbar {
  width: 6px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e302267;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4e3022b7;
}






/* ------------------------ checkbox ------------------------ */

/* checkbox settings 👇 */



.ui-checkbox {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #403735;
  /* checkbox */
  --checkbox-diameter: 15px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: #f7f7f7;
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.15s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-hover-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.1s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.1s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}


.off {
  background: #e6e6e6 !important;
}

.off:hover {
  border-color: #d9d9d9;
  cursor: default;
}







/* ------------------------ contact ------------------------ */



.my-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Hintergrundfarbe mit Transparenz für den Blur-Effekt */
  backdrop-filter: blur(5px);
  /* Blur-Effekt */
  z-index: 1000;
  /* Z-Index, um das Overlay über allem anderen zu platzieren */
  justify-content: center;
  align-items: center;
}

.my-overlay.active {
  display: flex;
  flex-direction: row;
}

.overlay-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: fit-content
}

.contact-container {
  width: 1200px;
  height: fit-content;
  background-color: #ffffff;
  padding: 20px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d95c,
    -20px -20px 60px #ffffff8c;

}

.close-img {
  height: 50px;
  width: 50px;

}






.my-button {
  display: block;
  width: 100%;
  background-color: #e14;
  border: none;
  border-radius: 3px;
  padding: 1ch;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
}

.my-text-input {
  position: relative;
  margin-bottom: 1rem;
}

.my-text-input label {
  position: absolute;
  top: 1ch;
  left: 1ch;
  padding: 0 0.5ch;
  pointer-events: none;
  transition: 50ms ease;
  color: #888;
}

.my-text-input label.label-focus {
  position: absolute;
  top: 0;
  font-size: 0.9em;
  color: #e75012;
  font-weight: bold;
  transform: translateY(-50%);
  background-color: #fff;
  font-weight: 600;
}

.my-text-input input {
  display: block;
  width: 100%;
  border: 2px solid #eee;
  padding: 1ch;
  border-radius: 3px;
  transition: 50ms ease;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
}

.my-text-input input.input-focus {
  border-color: #e75012;
}

.my-text-area {
  position: relative;
  margin-bottom: 1rem;
}

.my-text-area label {
  position: absolute;
  top: 1ch;
  left: 1ch;
  padding: 0 0.5ch;
  pointer-events: none;
  transition: 50ms ease;
  color: #888;
}

.my-text-area label.label-focus {
  position: absolute;
  top: 0;
  font-size: 0.9em;
  color: #e75012;
  font-weight: bold;
  transform: translateY(-50%);
  background-color: #fff;
  font-weight: 600;
}

.my-text-area textarea {
  display: block;
  width: 100%;
  border: 2px solid #eee;
  padding: 1ch;
  border-radius: 3px;
  transition: 50ms ease;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
  height: 8em;
}

.my-text-area textarea.input-focus {
  border-color: #e75012;
}




/* ------------------------ media queries ------------------------ */

@media only screen and (max-width: 2020px) {
  .menuContainer {
    width: 1500px;
  }

  .nav-pills .nav-link {
    font-size: large;
  }

  label {
    margin-bottom: 5px;
    word-wrap: normal;
    font-size: smaller;
  }

  .menu-card {
    margin-right: 0px;
  }

  ::-webkit-scrollbar {
    width: 3px;

  }

  .my-col-2 {
    padding: 0px;
    width: 75% !important;
  }

  .my-col {
    padding: 0px;
    width: 25% !important;
  }

}

@media only screen and (max-width: 1550px) {
  .menuContainer {
    width: 1260px;
  }

  .nav-pills .nav-link {
    font-size: large;
  }

  .card {
    font-size: smaller;
    padding: 5px;
  }

  .my-col-2 {
    padding: 0px;
    width: 75% !important;
  }

  .my-col {
    padding: 0px;
    width: 25% !important;
  }

  h4 {
    font-size: 1rem !important;
    word-wrap: normal;
  }


}

@media only screen and (max-width: 1300px) {

  .menuContainer {
    width: 840px;
  }


  .info-card {
    width: 250px;
  }

  form {
    flex-wrap: wrap;
  }

  .checkbox-container {
    width: 60%;
    border-bottom: 1px solid #403735;
  }

  #first-sub {
    width: 40%;
    border-bottom: 1px solid #403735;
  }

  #root {
    height: auto;
  }

  #second-sub {
    width: 100% !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .nav-link {
    text-shadow: none;
    color: #e75012 !important;
  }

  .nav-link.active {
    color: white !important;
    background-color: #e75012 !important;
    border-color: #e75012 !important;
  }

  .nav-item button:hover {
    color: white !important;
    border-color: #e75012 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .nav-item:hover {

    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .nav-tabs {
    --bs-nav-tabs-border-radius: none !important;
  }

  .tab-content {
    width: 100%;

  }
}

@media only screen and (max-width: 900px) {

  .menuContainer {
    width: 620px;
  }


  .info-card {
    width: 200px !important;
  }

  form {
    flex-wrap: wrap;
  }

  .checkbox-container {
    width: 60%;
    border-bottom: 1px solid #403735;
    padding-right: 0%;
  }

  #first-sub {
    width: 40%;
    border-bottom: 1px solid #403735;
    padding-left: 0px;
    padding-top: 0%;
  }

  #root {
    height: auto;
  }

  #second-sub {
    width: 100% !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .nav-link {
    text-shadow: none;
    color: #e75012 !important;
  }

  .nav-link.active {
    color: white !important;
    background-color: #e75012 !important;
    border-color: #e75012 !important;
  }

  .nav-item button:hover {
    color: white !important;
    border-color: #e75012 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .nav-item:hover {

    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .nav-tabs {
    --bs-nav-tabs-border-radius: none !important;
  }



}


@media only screen and (max-width: 630px) {

  .menuContainer {
    width: 500px;
  }


  .info-card {
    width: 100% !important;
  }

  form {
    flex-wrap: wrap;
  }

  .checkbox-container {
    width: 100%;
    border-bottom: 1px solid #403735;
    padding-right: 0%;
    border-left: none !important;
    padding-left: 0px !important;
  }

  #first-sub {
    width: 100%;
    border-bottom: 1px solid #403735;
    padding-left: 0px;
    padding-top: 0%;
  }

  #root {
    height: auto;
  }

  #second-sub {
    width: 100% !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .nav-link {
    text-shadow: none;
    color: #e75012 !important;
  }

  .nav-link.active {
    color: white !important;
    background-color: #e75012 !important;
    border-color: #e75012 !important;
  }

  .nav-item button:hover {
    color: white !important;
    border-color: #e75012 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .nav-item:hover {

    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .nav-tabs {
    --bs-nav-tabs-border-radius: none !important;
  }

  .submit-btn {
    z-index: 100;
  }



}

@media only screen and (max-width: 500px) {

  .menuContainer {
    width: 500px;
  }


  .info-card {
    width: 100% !important;
  }

  form {
    flex-wrap: wrap;
  }

  .checkbox-container {
    width: 100%;
    border-bottom: 1px solid #403735;
    padding-right: 0%;
    border-left: none !important;
    padding-left: 0px !important;
  }

  .menu-selection-container {
    flex-direction: column;
  }

  #first-sub {
    width: 100%;
    border-bottom: 1px solid #403735;
    padding-left: 0px;
    padding-top: 0%;
  }

  #root {
    height: auto;
  }

  #second-sub {
    width: 100% !important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .nav-link {
    text-shadow: none;
    color: #e75012 !important;
  }

  .nav-link.active {
    color: white !important;
    background-color: #e75012 !important;
    border-color: #e75012 !important;
  }

  .nav-item button:hover {
    color: white !important;
    border-color: #e75012 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .nav-item:hover {

    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .nav-tabs {
    --bs-nav-tabs-border-radius: none !important;
  }

  .submit-btn {
    z-index: 100;
  }


  label {
    font-size: initial;
  }

  .my-overlay {
    position: fixed;
  }

}